name: Release

on:
  push:
    tags:
      - 'v*' # Triggers on pushes to tags starting with 'v'

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  build-and-publish:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and upload Rust binary
        uses: taiki-e/upload-rust-binary-action@v1.28.0
        with:
          bin: rhp
          target: x86_64-unknown-linux-musl
          token: ${{ secrets.GITHUB_TOKEN }}
